body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #212121;
}
.link {
  text-decoration: none;
  text-transform: none;
}
/* ------------Header--------------------- */
.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  background: #ffffff;
}
.site-nav {
}
.logo-nav {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
}
.list-nav {
}
.item-nav {
}
.link-nav:hover,
.link-nav:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: #2196f3;
}
.contacts {
  color: #757575;
}
.contacts-item {
}
.contacts-link {
}
/* ------------------ MAIN---------------*/
.hero {
}
/*---------Section decision-------------*/
.decision {
  background: #2f303a;
}
.decision-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.decision-title:hover,
.decision-title:focus {
  color: #2196f3;
}
.decision-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.decision-btn:hover,
.decision-btn:focus {
  color: #2196f3;
}
/*-----------------Section benefits----------------*/
.benefits {
}
.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.benefits-title:hover,
. .benefits-list {
}
.benefits-points {
}
.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

/*--------------------Section works--------------*/
.works {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  background: #ffffff;
}
.works-title {
}
.works-list {
}
.works-item {
}
/*---------------Section TEAM----------------*/
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  background: #f5f4fa;
}
.team-title {
}
.team-list {
}
.team-photo {
}
.team-participant {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
}
.team-position {
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  color: #757575;
}
/* ----------------FOOTER--------------*/
.adress {
  font-size: 14px;
  line-height: 1.71;
  background: #2f303a;
}
.adress-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.adress-list {
}
.adress-details {
}
.adress-street {
  color: #ffffff;
}
.adress-mail {
  color: rgba(255, 255, 255, 0.6);
}
.adress-phone {
  color: rgba(255, 255, 255, 0.6);
}
/*-----------PORTFOLIO------------------*/

.portfolio-examples {
}
.portfolio-title {
}
.portfolio-list {
}
.portfolio-item {
}
.portfolio-btn {
}
.examples {
}
.examples-item {
}
.examples-title {
}
.examles-describe {
}
